.widgets {
  border-radius: 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  background-color: white;
}

.widgets .widget {
  width: 33.33%;
  padding: 15px 15px;
}

.widgets .fieldset {
  width: 50%;
  padding: 15px 15px;
}

.widgets .textarea {
  width: 100%;
  padding: 5px 15px;
  margin-right: 200px;
}
.widgets .dynamic-inputs {
  width: 100%;
  padding: 5px 15px;
}
.widgets .checkbox {
  width: 100%;
  padding: 10px 30px;
}

.widgets .checkbox label {
  display: inline-block;
}

.widgets .dropzone {
  float: left;
  width: 100%;
  margin: 40px;
}

.widgets .button {
  float: left;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 30px;
}

.widget label {
  margin-bottom: 0px;
  margin-left: 5px;
  display: block;
  font-size: 18px;
  box-sizing: border-box;
  padding: 2px;
}
.textarea label {
  margin-bottom: 0px;
  margin-left: 5px;
  display: block;
  font-size: 18px;
  box-sizing: border-box;
  padding: 2px;
}
.dynamic-inputs label {
  margin-bottom: 0px;
  display: block;
  font-size: 18px;
  box-sizing: border-box;
  padding: 2px;
}
.widget legend {
  font-size: 18px;
}

.widget select {
  margin: 8px 0px;
  margin-left: 5px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 85%;
  height: 40px;
}

.widget .multi-select {
  margin: 8px 0px;
  margin-left: 5px;
  display: block;
  border-radius: 4px;
  box-sizing: border-box;
  width: 85%;
  height: 40px;
}

.widget .download-link {
  margin: 8px 0px;
  margin-left: 5px;
  display: block;
  border-radius: 4px;
  box-sizing: border-box;
  width: 85%;
  height: 40px;
}
.widget .upload-container {
  margin: 8px 0px;
  margin-left: 5px;
  display: block;
  border-radius: 4px;
  box-sizing: border-box;
  width: 85%;
  height: 40px;
}
.widget .multi-select input[type="checkbox"] {
  display: inline-block;
}

.widget .multi-select span {
  font-size: 14px;
}

.widget .multi-select label {
  padding: "2px";
}

.widget input[type="text"] {
  padding: 12px 20px;

  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 85%;
  height: 40px;
}

label#field {
  display: inline-block;
  width: 40px;
  font-size: 14px;
}

label#date {
  margin-top: -7px;
  margin-bottom: 6px;
}

.fieldset input[type="text"] {
  height: 30px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0px;
  display: inline-block;
  width: 77%;
  margin-left: "30px";
}

.widget select:hover {
  box-shadow: 0px 0px 7px #ccc;
}

.widget .multi-select:hover {
  box-shadow: 0px 0px 7px #ccc;
}

input[type="text"].error {
  border: 1px solid red;
}

input[type="date"].error {
  border: 1px solid red;
}

textarea.error {
  border: 1px solid red;
}

.input-feedback {
  color: red;
  margin-top: -5px;
  font-size: 14px;
  margin-bottom: 20px;
  margin-left: 6px;
}

input:hover {
  box-shadow: 0px 0px 7px #ccc;
}

.widget input[type="number"] {
  padding: 12px 20px;
  margin: 8px 0px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 85%;
  height: 40px;
}

.widget input[type="date"]::-webkit-inner-spin-button {
  display: none;
}

.widget input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.widget input[type="date"] {
  background: #fff
    url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)
    97% 50% no-repeat;
  padding: 3px 3px;
  margin-left: 5px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 85%;
  height: 40px;
}

.widgets .checkbox input[type="checkbox"] {
  padding: 12px 20px;
  margin: 8px 0px;
  margin-left: 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.widget input[type="checkbox"] {
  padding: 12px 20px;
  margin: 8px 0px;
  margin-left: 5px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea:hover {
  box-shadow: 0px 0px 7px #ccc;
}

.widget textarea {
  padding: 5px 10px;
  display: block;
  margin-top: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 85%;
  height: 40px;
}
.textarea textarea {
  padding: 5px 10px;
  display: block;
  margin-top: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 85%;
  height: 75px;
}
input[type="submit"]:hover {
  background-color: #45a049;
}

#Submit {
  padding: 10px;
  width: 100px;

  margin-bottom: 20px;
  background-color: #4caf50;
  font-size: 16px;
  border-radius: 24px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

#page-redirect {
  padding: 10px;
  width: 150px;
  margin-bottom: 20px;
  background-color: #4caf50;
  font-size: 16px;
  border-radius: 24px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

#Cancel {
  padding: 10px;
  margin: 18px 18px;
  background-color: gray;
  margin-left: 450px;
  border-radius: 24px;
  border: none;
  width: 20%;
  font-size: 16px;
  color: white;
  font-weight: bold;
}
